html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(120deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0%;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  border-radius: 10px;
}

li {
  padding-left: 4px;
}

ul :last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul :first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button-continer {
  display: flex;
}

.refresh-button {
  height: 2.5rem;
  width: 5rem;
  padding: 0.2rem;
  border-radius: 0.275rem;
  background: #e4e9fd;
  color: #a683e3;
  letter-spacing: 1px;
  transition: all 0.3s;
  margin-left: 30%;
  margin-top: 3%;
}

.refresh-button:active {
  transform: translateY(0.3rem);
}

.second-continer {
  padding-left: 25%;
  padding-top: 10%;
  display: flex;
  gap: 40px;
}

/* the list continer */

.list-continer {
  width: 25%;
  padding-left: 5px;
}

.scores-list li:nth-child(even) {
  background-color: #a683e3;
}

.scores-list li:nth-child(odd) {
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-button {
  width: 35%;
  margin-left: 65%;
  height: 2.5rem;
  padding: 0.2rem;
  border-radius: 0.275rem;
  background: #a683e3;
  color: #ffff;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.submit-button:active {
  transform: translateY(0.3rem);
}

/* input bars */
.name_input {
  width: 16rem;
  border-radius: 60px;
  height: 2rem;
  padding-left: 10px;
}

.score_input {
  border-radius: 60px;
  height: 2rem;
  padding-left: 10px;
}
